.post figure {
    @apply w-screen pt-5 rounded-md;
}

.post figure pre {
    @apply flex w-screen rounded-md;
}

.post figure code {
    @apply w-full p-4 px-4 rounded-md overflow-x-auto;
}

.post figure code>[data-line] {
    @apply pr-12
}

.post span code {
    @apply p-0.5 rounded-md
}

.post figure code {
    counter-reset: line;
}

.post figure code>[data-line]::before {
    counter-increment: line;
    content: counter(line);
    width: 1rem;
    margin-right: 2rem;
    text-align: right;
    color: gray;
}


.post figure code[data-line-numbers-max-digits="2"]>[data-line]::before {
    width: 2rem;
}

.post figure code[data-line-numbers-max-digits="3"]>[data-line]::before {
    width: 3rem;
}



.post code[data-theme*=" "],
.post code[data-theme*=" "] span {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
}

.dark .post code[data-theme*=" "],
.dark .post code[data-theme*=" "] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
}
